<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tugasucp1.Properties.Settings.DonasiBarangBekasConnectionString"
            connectionString="Data Source=LAPTOP-97JFDRMG\\AZIZAH_A_AZMI;Initial Catalog=OrganisasiMahasiswa;user id = sa; password=@@SuguruMyLove777;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>